In [2]:
# Set up
download_link = 'https://archive.ics.uci.edu/ml/machine-learning-databases/university/university.data'
!curl $download_link -o university.data

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  156k  100  156k    0     0   573k      0 --:--:-- --:--:-- --:--:--  573k

In [4]:
# Convert this random format into python dict
import re

university_data = {}
with open('university.data') as f:
  valid_keys = ['name', 'state', 'control', 'no-of-students', 'male:female', 
                'student:faculty', 'sat verbal', 'sat math', 'expenses', 
                'percent-financial-aid', 'no-applicants', 'percent-admittance', 
                'percent-enrolled', 'academics scale:1-5', 'social scale:1-5', 
                'quality-of-life scale:1-5']
  data = {}
  for line in f:
    line = line.strip().lower()
    match = re.search(r'\(def-instance (\S+)', line)
    if match:
      if data and 'name' in data:
        university_data[data['name']] = data

      university_name = match.group(1)
      data = {'name': university_name}
      continue

    for valid_key in valid_keys:
      match = re.search(r'\({} (\S+)\)'.format(valid_key), line)
      if match:
        data[valid_key] = match.group(1)

print('Got', len(university_data), 'universities')

Got 241 universities

In [3]:
# Convert dict into data frame

import pandas as pd

df = pd.DataFrame(university_data)
df = df.transpose()
  
df

,name,state,control,no-of-students,male:female,student:faculty,sat verbal,sat math,expenses,percent-financial-aid,no-applicants,percent-admittance,percent-enrolled,academics scale:1-5,social scale:1-5,quality-of-life scale:1-5
adelphi,adelphi,newyork,private,thous:5-10,ratio:30:70,ratio:15:1,500,475,thous$:7-10,60,thous:4-7,70,40,2,2,2
arizona-state,arizona-state,arizona,state,thous:20+,ratio:50:50,ratio:20:1,450,500,thous$:4-7,50,thous:17+,80,60,3,4,5
boston-college,boston-college,massachusetts,private,thous:5-10,ratio:40:60,ratio:20:1,500,550,thous$:10+,60,thous:10-13,50,40,4,5,3
boston-university,boston-university,massachusetts,private,thous:10-15,ratio:45:55,ratio:12:1,550,575,thous$:10+,60,thous:13-17,60,40,4,4,3
brown,brown,rhodeisland,private,thous:5-,ratio:50:50,ratio:11:1,625,650,thous$:10+,40,thous:10-13,20,50,5,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
george-washington,george-washington,district-of-columbia,private,thous:5-,ratio:50:50,ratio:14:1,530,560,thous$:10+,45,thous:4-7,75,30,3,4,3
oral-roberts-university,oral-roberts-university,oklahoma,private,thous:5-,ratio:1:1,ratio:11:1,463,490,thous$:4-,70,thous:4-,65,75,4,2,3
university-of-tulsa,university-of-tulsa,oklahoma,private,thous:5-10,ratio:3:2,ratio:16:1,471,520,thous$:4-,75,thous:4-,85,65,4,4,4
connecticut-college,connecticut-college,connecticut,private,thous:5-,ratio:35:65,ratio:10:1,550,575,thous$:10+,30,thous:4-,40,40,4,3,4
lehigh-university,lehigh-university,pennsylvania,private,thous:5-10,ratio:75:25,ratio:10:1,550,650,thous$:7-10,45,thous:4-7,50,40,4,4,2